{% extends 'base.html' %}

{% block content%}
{%if category_posts %}

<br/>
    <h1  > {{cats}}</h1>

{%for post in category_posts  %}
<ul>
   <li><small>{{post.post_date}}</small><br/><a href="{%url 'article-detail' post.pk%}">
            {{post.title}}</a>    
            -{{post.author.first_name}} 
            {{post.author.last_name}}
            
            <br/> 
            {%  if user.is_authenticated%}
                <a href="{%url 'update_post' post.pk%}">EDIT</a>
                <small><a href="{%url 'delete_post' post.pk%}">Delete</a></small>
            {% endif%}
            {{post.body|slice:"381"|safe}}
        </li>
    </ul>
{%endfor%}

{%else%}
<h2>This page does not exist</h2>

{%endif%}
{% endblock %}

 